/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.Monday, .Tuesday, .Wednesday, .Thursday, .Friday {
  background-color: #4CAF50;
}

.Saturday, .Sunday {
  background-color: #f44336;
}

.Saturday.working-day, .Sunday.working-day {
  background-color: #ffff;
  color: #4CAF50
}

.Monday.not-working-day, .Tuesday.not-working-day, .Wednesday.not-working-day, .Thursday.not-working-day, .Friday.not-working-day {
  background-color: #ffff;
  color: #f44336
}


.today {
  background-color: #2196F3;
}

.paramater-details, .forecast-details {
  display: none;
  width: 0;
}

.hidden {
  display: table-cell;
}


.table-inputs {
  border: 1px solid white!important;
  border-radius: 20px!important;
  width: 70px!important;
  padding-left: 5px!important;

}